.back-to-top {
  width: 30px;
  height: 30px;
  position: fixed;
  bottom: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0288D1;
  /* padding: 10px; */
  border-radius: 50%;
  /* why 1.0s? it's all about testing */
  transition: transform 1.0s ease;
  opacity: 0.8;
  z-index: 99;
  visibility: hidden;
}

.back-to-top:hover {
  opacity: 1;
}

.back-to-top.show {
  visibility: visible;
}

.arrow-up {
  margin-top: 5px;
  margin-left: 1px;
  border: solid whitesmoke;
  border-width: 2px 2px 0 0;
  display: inline-block;
  padding: 5px;
  transform: rotate(-45deg);
}

/* .arrow-up::before {
  content: "";
  position: absolute;
  top: -9px;
  left: 6px;
  border: solid whitesmoke;
  border-width: 2px 2px 0 0;
  display: inline-block;
  padding: 4px;
} */